<!DOCTYPE html>

<html lang="ja" dir="ltr" prefix="og: http://ogp.me/ns#">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-G8HX48FY4G"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-G8HX48FY4G');
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="format-detection" content="email=no,telephone=no,address=no">
  <meta name="theme-color" content="black">
  <meta name="google-site-verification" content="6Fxg0RNUUhxgPsNFPf_9zNmN95ErCzaDJTR1gEx_TIY" />

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../static/css/sanitize.css">

  <link rel="icon" href="../static/img/favicon.ico">
  <link rel="apple-touch-icon" href="../static/img/apple-touch-icon.png">
  <meta name="msapplication-TileImage" content="../static/img/logo.png">
  <meta name="msapplication-TileColor" content="black">

  <meta property="og:url" content="{{url}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:site_name" content="Advanced Search">
  <meta property="og:description" content="{{description}}">
  <meta property="og:image" content="https://probabilityhill.pythonanywhere.com/static/img/logo.jpg">
  <meta property="og:image:alt" content="Advanced Search">
  <meta property="og:locale" content="ja_JP">
  <meta name="twitter:card" content="summary_large_image">

  <script>
    document.write(
      '<link rel="stylesheet" href="../static/css/style.css?' + new Date().getTime() + '">'
    );
  </script>
</head>

<body>
  <!-- header -->
  <header>
    {%- include "include/header.html" %}
  </header>

  <!-- content -->
  <main>
    {%- block content%}{% endblock %}
  </main>
</body>

</html>
